.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.AppHead {
    color: #f3f3f3;
    background-color: #333333;
    text-align: center;
    padding: 12px;
    flex: 0;
}

.AppBody {
    display: flex;
    padding: 12px;
    flex: 1;
}