* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333333;
    background-color: #f3f3f3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
}

input, button {
    font-size: 19px;
    padding: 5px;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.AppHead {
    color: #f3f3f3;
    background-color: #333333;
    text-align: center;
    padding: 12px;
    flex: 0;
    font-size: 21px;
}



.AppBody {
    display: flex;
    padding: 12px;
    flex: 1;
}

.AppShow {
    color: #333333;
    text-align: center;
    padding: 12px;
    flex: 0;
    font-size: 20px;
    border-top: 1px solid #333333;
}

.AppShowInfo {
    background-color: #b4ffc0;
}

.AppShowError {
    background-color: #ffb4b4;
}

.Frame {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Col {
    display: flex;
    flex-direction: column;
}

.Item {
    margin: 3px;
}